<!DOCTYPE html>
<html>
  <head>
    <title>Cloud Barista Dashboard Application</title>
    <link rel="stylesheet" href="//unpkg.com/bootstrap@4/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css">
    
    <script src='//unpkg.com/jquery@3/dist/jquery.min.js'></script>
    <script src='//unpkg.com/popper.js@1/dist/umd/popper.min.js'></script>
    <script src='//unpkg.com/bootstrap@4/dist/js/bootstrap.min.js'></script>
    <style type="text/css">
      [v-cloak] {
        display: none;
      }
    </style>
  </head>
  <body>
    <div id="app" v-cloak>
      
      <header>
        <div class="navbar navbar-dark bg-dark shadow-sm">
          <div class="container">
            <a href="#" class="navbar-brand d-flex align-items-center">
              <strong>{{ report.title }}</strong>
            </a>
          </div>
        </div>
      </header>

      <main>
        <div class="container" v-if="report">

          <h2 style="margin-top:20px;"> Summary </h2>
          <hr>
          
          <div class="row" style="margin-top:5px;">
            
              <div class="col-lg-3">
                  <div class="card card-stats mb-4 mb-xl-0">
                      <div class="card-body" style="">
                          <div class="row">
                              <div class="col">
                                  <h2 class="card-title text-muted mb-0"><strong>Lint</strong><small class="ml-2 mb-0 text-muted">/ deadcode</small></h2>
                                  <span class="h1 font-weight-bold mb-0" v-bind:class="{ 'text-warning': report.lint.deadcode.cnt > 0, 'text-success': report.lint.deadcode.cnt == 0 }">{{ report.lint.deadcode.cnt }} found</span>
                              </div>
                          </div>
                          <p class="mt-3 mb-0 text-muted text-sm-right">
                              <span class="text-success mr-2"></span>
                            <span class="text-sm"><a href="#details" @click="tabIndex=0">details</a></span>
                          </p>
                      </div>
                  </div>
              </div>
            
              <div class="col-lg-3">
                  <div class="card card-stats mb-4 mb-xl-0">
                      <div class="card-body" style="">
                          <div class="row">
                              <div class="col">
                                  <h2 class="card-title text-muted mb-0"><strong>Lint</strong><small class="ml-2 mb-0 text-muted">/ errcheck</small></h2>
                                  <span class="h1 font-weight-bold mb-0" v-bind:class="{ 'text-warning': report.lint.errcheck.cnt > 0, 'text-success': report.lint.errcheck.cnt == 0 }">{{ report.lint.errcheck.cnt }} found</span>
                              </div>
                          </div>
                          <p class="mt-3 mb-0 text-muted text-sm-right">
                            <span class="text-success mr-2"></span>
                            <span class="text-sm"><a href="#details" @click="tabIndex=1">details</a></span>
                          </p>
                      </div>
                  </div>
              </div>
            
              <div class="col-lg-3">
                  <div class="card card-stats mb-4 mb-xl-0">
                      <div class="card-body" style="">
                          <div class="row">
                              <div class="col">
                                  <h2 class="card-title text-muted mb-0"><strong>Lint</strong><small class="ml-2 mb-0 text-muted">/ staticcheck</small></h2>
                                  <span class="h1 font-weight-bold mb-0" v-bind:class="{ 'text-warning': report.lint.staticcheck.cnt > 0, 'text-success': report.lint.staticcheck.cnt == 0 }">{{ report.lint.staticcheck.cnt }} found</span>
                              </div>
                          </div>
                          <p class="mt-3 mb-0 text-muted text-sm-right">
                            <span class="text-success mr-2"></span>
                            <span class="text-sm"><a href="#details" @click="tabIndex=2">details</a></span>
                          </p>
                      </div>
                  </div>
              </div>
            
              <div class="col-lg-3">
                  <div class="card card-stats mb-4 mb-xl-0">
                      <div class="card-body" style="">
                          <div class="row">
                              <div class="col">
                                  <h2 class="card-title text-muted mb-0"><strong>Lint</strong><small class="ml-2 mb-0 text-muted">/ revive</small></h2>
                                  <span class="h1 font-weight-bold mb-0" v-bind:class="{ 'text-warning': report.lint.revive.cnt > 0, 'text-success': report.lint.revive.cnt == 0 }">{{ report.lint.revive.cnt }} found</span>
                              </div>
                          </div>
                          <p class="mt-3 mb-0 text-muted text-sm-right">
                            <span class="text-success mr-2"></span>
                            <span class="text-sm"><a href="#details" @click="tabIndex=3">details</a></span>
                          </p>
                      </div>
                  </div>
              </div>           

          </div>
          
          <div class="row" style="margin-top:5px;">
            
              <div class="col-lg-3">
                  <div class="card card-stats mb-4 mb-xl-0">
                      <div class="card-body" style="">
                          <div class="row">
                              <div class="col">
                                  <h2 class="card-title text-muted mb-0"><strong>Test</strong><small class="ml-2 mb-0 text-muted">/ unit</small></h2>
                                  <span class="h1 font-weight-bold mb-0" v-bind:class="{ 'text-danger': report.test.unit.failCnt > 0, 'text-success': report.test.unit.failCnt == 0 }">{{ report.test.unit.failCnt }} failure</span>
                              </div>
                          </div>
                          <p class="mt-3 mb-0 text-muted text-sm-right">
                            <span class="text-success mr-2" >{{ report.test.unit.allCnt }} cases</span>
                            <span class="text-sm"><a href="#details" @click="tabIndex=4">details</a></span>
                          </p>
                      </div>
                  </div>
              </div>
            
              <div class="col-lg-3">
                  <div class="card card-stats mb-4 mb-xl-0">
                      <div class="card-body" style="">
                          <div class="row">
                              <div class="col">
                                  <h2 class="card-title text-muted mb-0"><strong>Test</strong><small class="ml-2 mb-0 text-muted">/ coverage</small></h2>
                                  <span class="h1 font-weight-bold mb-0 text-danger" v-if="report.test.coverage.check > 0" >Error</span>
                                  <span class="h1 font-weight-bold mb-0 text-success" v-if="report.test.coverage.check == 0" >{{ report.test.coverage.total }}</span>
                              </div>
                          </div>
                          <p class="mt-3 mb-0 text-muted text-sm-right">
                            <span class="text-success mr-2" ></span>
                            <span class="text-sm"><a :href="coveragePath" target="_blank">details</a></span>
                          </p>
                      </div>
                  </div>
              </div>
            
              <div class="col-lg-3">
                  <div class="card card-stats mb-4 mb-xl-0">
                      <div class="card-body" style="">
                          <div class="row">
                              <div class="col">
                                  <h2 class="card-title text-muted mb-0"><strong>Test</strong><small class="ml-2 mb-0 text-muted">/ go build</small></h2>
                                  <span class="h1 font-weight-bold mb-0 text-danger" v-if="report.build.check > 0" >Error</span>
                                  <span class="h1 font-weight-bold mb-0 text-success" v-if="report.build.check == 0" >Success</span>
                              </div>
                          </div>
                          <p class="mt-3 mb-0 text-muted text-sm-right">
                            <span class="text-success mr-2" ></span>
                            <span class="text-sm"><a href="#details" @click="tabIndex=5">details</a></span>
                          </p>
                      </div>
                  </div>
              </div>

              <div class="col-lg-3">
                <div class="card card-stats mb-4 mb-xl-0">
                    <div class="card-body" style="">
                        <div class="row">
                            <div class="col">
                                <h2 class="card-title text-muted mb-0"><strong>Self Host</strong><small class="ml-2 mb-0 text-muted">/ OS Ver.</small></h2>
                                <span class="h1 font-weight-bold mb-0 text-danger" v-if="report.selfhost.check > 0" >Error</span>
                                <span class="h1 font-weight-bold mb-0 text-success" v-if="report.selfhost.check == 0" >Success</span>
                            </div>
                        </div>
                        <p class="mt-3 mb-0 text-muted text-sm-right">
                          <span class="text-success mr-2" ></span>
                          <span class="text-sm"><a href="#details" @click="tabIndex=8">details</a></span>
                        </p>
                    </div>
                </div>
            </div>              

          </div>
          
          <div class="row" style="margin-top:5px;">
            
              <div class="col-lg-6">
                  <div class="card card-stats mb-4 mb-xl-0">
                      <div class="card-body" style="">
                          <div class="row">
                              <div class="col">
                                  <h2 class="card-title text-muted mb-0"><strong>Deploy</strong><small class="ml-2 mb-0 text-muted">/ docker build</small></h2>
                                  <span class="h1 font-weight-bold mb-0 text-info" v-if="report.deploy.dockerBuild.run == 0" >Skip</span>
                                  <span class="h1 font-weight-bold mb-0 text-danger" v-if="report.deploy.dockerBuild.run == 1 && report.deploy.dockerBuild.check == 1" >Error</span>
                                  <span class="h1 font-weight-bold mb-0 text-success" v-if="report.deploy.dockerBuild.run == 1 && report.deploy.dockerBuild.check == 0" >Success</span>
                              </div>
                          </div>
                          <p class="mt-3 mb-0 text-muted text-sm-right">
                            <span class="text-success mr-2" ></span>
                            <span class="text-sm"><a href="#details" @click="tabIndex=6">details</a></span>
                          </p>
                      </div>
                  </div>
              </div>  
            
              <div class="col-lg-6">
                  <div class="card card-stats mb-4 mb-xl-0">
                      <div class="card-body" style="">
                          <div class="row">
                              <div class="col">
                                  <h2 class="card-title text-muted mb-0"><strong>Deploy</strong><small class="ml-2 mb-0 text-muted">/ publish image</small></h2>
                                  <span class="h1 font-weight-bold mb-0 text-info" v-if="report.deploy.publish.run == 0" >Skip</span>
                                  <span class="h1 font-weight-bold mb-0 text-danger" v-if="report.deploy.publish.run == 1 && report.deploy.publish.check == 1" >Error</span>
                                  <span class="h1 font-weight-bold mb-0 text-success" v-if="report.deploy.publish.run == 1 && report.deploy.publish.check == 0" >Success</span>
                              </div>
                          </div>
                          <p class="mt-3 mb-0 text-muted text-sm-right">
                            <span class="text-success mr-2" ></span>
                            <span class="text-sm"><a href="#details" @click="tabIndex=7">details</a></span>
                          </p>
                      </div>
                  </div>
              </div> 

          </div>
          
          <h2 style="margin-top:20px;"> Details </h2>
          <hr>
          
          <div id="details">
            <b-card no-body>
              <b-tabs v-model="tabIndex" card>
                <b-tab title="deadcode" >
                  <b-card-text>
                    <textarea  style="width:100%; min-height:600px;"> {{ report.lint.deadcode.details }} </textarea>
                  </b-card-text>
                </b-tab>
                <b-tab title="errcheck" >
                  <b-card-text>
                    <textarea  style="width:100%; min-height:600px;"> {{ report.lint.errcheck.details }} </textarea>
                  </b-card-text>
                </b-tab>
                <b-tab title="staticcheck" >
                  <b-card-text>
                    <textarea  style="width:100%; min-height:600px;"> {{ report.lint.staticcheck.details }} </textarea>
                  </b-card-text>
                </b-tab> 
                <b-tab title="revive" >
                  <b-card-text>
                    <textarea  style="width:100%; min-height:600px;"> {{ report.lint.revive.details }} </textarea>
                  </b-card-text>
                </b-tab>  
                <b-tab title="unit" >
                  <b-card-text>
                    <textarea  style="width:100%; min-height:600px;"> {{ report.test.unit.details }} </textarea>
                  </b-card-text>
                </b-tab> 
                <b-tab title="go build" >
                  <b-card-text>
                    <textarea  style="width:100%; min-height:600px;"> {{ report.build.details }} </textarea>
                  </b-card-text>
                </b-tab>  
                <b-tab title="docker build" >
                  <b-card-text>
                    <textarea  style="width:100%; min-height:600px;"> {{ report.deploy.dockerBuild.details }} </textarea>
                  </b-card-text>
                </b-tab> 
                <b-tab title="publish image" >
                  <b-card-text>
                    <textarea  style="width:100%; min-height:600px;"> {{ report.deploy.publish.details }} </textarea>
                  </b-card-text>
                </b-tab>     
                <b-tab title="self host runner" >
                  <b-card-text>
                    <textarea  style="width:100%; min-height:600px;"> {{ report.selfhost.details }} </textarea>
                  </b-card-text>
                </b-tab>                            
              </b-tabs>
            </b-card>
          </div>        
          
          
        </div>
      </main>      
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src='https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js'></script>

    <script>

      new Vue({
        el: "#app",
        data: {
          report: {
            version: '1.0',
            title: '',
            lint: {
              deadcode: {
                cnt: '',
                details: ''
              },
              errcheck: {
                cnt: '',
                details: ''
              },
              staticcheck: {
                cnt: '',
                details: ''
              },
              revive: {
                cnt: '',
                details: ''
              }          
            },
            test: {
              unit: {
                check: '',
                details: '',
                allCnt: '',
                failCnt: ''
              },
              coverage: {
                check: '',
                details: '',
                total: ''
              }
            },
            build: {
              check: '',
              details: ''
            },
            deploy: {
              dockerBuild: {
                run: '',
                check: '',
                details: ''
              },
              publish: {
                run: '',
                check: '',
                details: ''                
              }
            },
            selfhost: {
              check: '',
              details: ''
            },            
          },
          tabIndex: 0
        },        
        async created() {
          let urlParams = new URLSearchParams(window.location.search);
          this.infoPath = urlParams.get('info');
          console.log('infoPath', this.infoPath);

          this.coveragePath = '';
          if(this.infoPath != null) {
            this.coveragePath = this.infoPath.replace(".json", ".html");
            console.log('coveragePath', this.coveragePath);
            
            let result = await axios.get(this.infoPath);
            this.report = result.data;
            console.log('report', this.report);
          }
        }      
      });
      
      Vue.use(BootstrapVue)
      
    </script>
  </body>
</html>
